<h1 mat-dialog-title>Toggle Languages</h1>
<div mat-dialog-content>
  <p>Please select your preferred language!</p>
  <mat-form-field>
    <mat-label>- Select -</mat-label>
    <mat-select [(value)]="selectedLanguage">
      <mat-option *ngFor="let language of data.languages" [value]="language.value">
        {{language.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="selectedLanguage" cdkFocusInitial>Ok</button>
</div>
