<table mat-table [dataSource]="dataSource" multiTemplateDataRows>
  <ng-container matColumnDef="selection" *ngIf="selection">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="{{column.value}}" *ngFor="let column of columnsToDisplay"
                [sticky]="stickyColumn && (column.value === stickyColumn)">
    <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column.value]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="selection ? columnsToDisplay.length + 1 : columnsToDisplay.length">
      <div class="data-row-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="noRecord">
    <td mat-footer-cell *matFooterCellDef [attr.colspan]="selection ? columnsToDisplay.length + 1 : columnsToDisplay.length">
      No records found.
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayValues; sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayValues;" class="data-row"
      [class.data-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="data-detail-row"></tr>

  <ng-container *ngIf="!dataLength">
    <tr mat-footer-row *matFooterRowDef="['noRecord']" class="data-row-empty"></tr>
  </ng-container>
</table>
