/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* References

   Icon
   Width
   Margin
   Miscellaneous

   References */

body {
  margin: 0;
}

/* Icon */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/* Icon */

/* Width */
.width-100-percent {
  width: 100% !important;
}

.width-70-percent {
  width: 70% !important;
}

.width-50-percent {
  width: 50% !important;
}

.width-30-percent {
  width: 30%;
}
/* Width */

/* Margin */
.margin-right {
  margin-right: 10px !important;
}

.margin-right-2x {
  margin-right: 20px !important;
}
/* Margin */

/* Padding */
.padding-right-half {
  padding-right: 5px;
}

.padding-left-half {
  padding-left: 5px;
}
/* Padding */

/* Miscellaneous */
.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.clear-floats {
  clear: both;
}

.mat-drawer-container {
  background: #ecf0f1;
}

.text-right {
  text-align: right;
}

/* Miscellaneous */
