<div>
  <h2>Saving 7 billion souls!</h2>

  <mat-nav-list>
    <mat-list-item [disableRipple]="true" class="no-hover">
      <h5>MAIN</h5>
    </mat-list-item>

    <mat-list-item [ngClass]="{active: currentPage === 'Home'}">
      <a mat-flat-button><i class="material-icons md-18">home</i> <span>Home</span></a>
    </mat-list-item>

    <mat-list-item>
      <a mat-flat-button><i class="material-icons md-18">notifications</i> Notifications</a>
    </mat-list-item>

    <mat-list-item>
      <a mat-flat-button><i class="material-icons md-18">school</i> Elohim Academy</a>

      <ul *ngIf="false">
        <li>
          <a mat-flat-button><i class="material-icons md-18">schedule</i> Schedules</a>
        </li>
        <li>
          <a mat-flat-button><i class="material-icons md-18">list</i> Authorized List</a>
        </li>
        <li>
          <a mat-flat-button><i class="material-icons md-18">settings</i> Set Schedule</a>
        </li>
        <li>
          <a mat-flat-button><i class="material-icons md-18">school</i> Elohim Achievement</a>
        </li>
        <li>
          <a mat-flat-button>Self Achievement</a>
        </li>
      </ul>
    </mat-list-item>

    <mat-list-item>
      <a mat-flat-button><i class="material-icons md-18">movie</i> WATV Media Cast</a>
    </mat-list-item>

    <mat-list-item>
      <a mat-flat-button><i class="material-icons md-18">contacts</i> Contacts</a>

      <ul *ngIf="false">
        <li>
          <a mat-flat-button>Self</a>
        </li>
        <li>
          <a mat-flat-button>Campus</a>
        </li>
        <li>
          <a mat-flat-button>Member</a>
        </li>
        <li>
          <a mat-flat-button>Group</a>
        </li>
        <li>
          <a mat-flat-button>Zion</a>
        </li>
      </ul>
    </mat-list-item>

    <mat-list-item>
      <a mat-flat-button><i class="material-icons md-18">insert_comment</i> Forms</a>

      <ul *ngIf="false">
        <li>
          <a mat-flat-button>Contacts</a>
        </li>
        <li>
          <a mat-flat-button>Requests Forms</a>
        </li>
      </ul>
    </mat-list-item>

    <mat-list-item>
      <a mat-flat-button><i class="material-icons md-18">person</i> User Info</a>

      <ul *ngIf="false">
        <li>
          <a mat-flat-button>Edit</a>
        </li>
        <li>
          <a mat-flat-button>Reset Password</a>
        </li>
        <li>
          <a mat-flat-button>Attendance</a>
        </li>
        <li>
          <a mat-flat-button>Church Policy</a>
        </li>
      </ul>
    </mat-list-item>

    <mat-list-item [disableRipple]="true" class="no-hover">
      <h5>ADDITIONAL</h5>
    </mat-list-item>

    <mat-list-item>
      <a mat-flat-button><i class="material-icons md-18">perm_data_setting</i> Admin</a>

      <ul *ngIf="false">
        <li>
          <a mat-flat-button>Account Access</a>
        </li>
        <li>
          <a mat-flat-button>Add Group</a>
        </li>
        <li>
          <a mat-flat-button>Move Member</a>
        </li>
        <li>
          <a mat-flat-button>Reset Password</a>
        </li>
        <li>
          <a mat-flat-button>Reports</a>
        </li>
        <li>
          <a mat-flat-button>Attendance</a>
        </li>
      </ul>
    </mat-list-item>
  </mat-nav-list>

  <div class="avatar">
    <img src="../../../../assets/images/avatar.png" alt="Avatar">
    <div>Welcome,<br>Tyler Le</div>
  </div>
</div>
