<div>
  <h2>Saving 7 billion souls!</h2>

  <mat-nav-list>
    <ng-container *ngFor="let route of routes">
      <!-- Group Header -->
      <mat-list-item *ngIf="route.isGroupHeader" [disableRipple]="true" class="no-hover">
        <h5>{{route.value}}</h5>
      </mat-list-item>
      <!-- Group Header -->

      <!-- Standard Route -->
      <mat-list-item *ngIf="!route.isGroupHeader && !route.children?.length"
                     [ngClass]="{active: currentPage === route.title}"
                     (click)="goToPage(route.value)">
        <a mat-flat-button>
          <i class="material-icons md-18">{{route.icon}}</i> <span>{{(route.translation || route.value) | translate}}</span>
        </a>
      </mat-list-item>
      <!-- Standard Route -->

      <!-- Nested Route -->
      <ng-container *ngIf="!route.isGroupHeader && route.children?.length">
        <!-- Parent -->
        <mat-list-item [ngClass]="{active: currentPage === route.title}" (click)="goToPage(route.value)">
          <a mat-flat-button>
            <i class="material-icons md-18">{{route.icon}}</i> {{(route.translation || route.value) | translate}}
            <i class="material-icons">expand_more</i>
          </a>
        </mat-list-item>
        <!-- Parent -->

        <!-- Child -->
        <mat-list-item class="sub-route" *ngFor="let childRoute of route.children"
                       [ngClass]="{displayed: currentPage === route.title, active: currentPage === childRoute.title}"
                       (click)="goToPage(route.value, childRoute.value)">
          <a mat-flat-button>{{(childRoute.translation || childRoute.value) | translate}}</a>
        </mat-list-item>
        <!-- Child -->
      </ng-container>
      <!-- Nested Route -->
    </ng-container>
  </mat-nav-list>

  <div class="avatar">
    <img src="../../../../assets/images/avatar.png" alt="Avatar">
    <div>{{'WELCOME' | translate}},<br>Tyler Le</div>
  </div>
</div>
