ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  font-family: "Pompiere", Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  color: #ffffff;
}

h5 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 11px;
  color: #ffffff;
  margin: 20px 20px 0 20px;
  background: #2980b9;
}

ul li {
  width: 100%;
}

.mat-nav-list {
  padding-top: 0;
}

.mat-list-item {
  background: #2980b9;
}

.mat-list-item.no-hover:hover {
  background: #2980b9;
  cursor: default;
}

a.mat-flat-button {
  background: transparent;
  color: #ffffff;
  width: 100%;
  text-decoration: none;
  text-align: left;
  line-height: 18px;
}

a.mat-flat-button i {
  float: left;
  margin-right: 15px;
}

.avatar {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 70px;
  margin-right: 20px;
}

.avatar div {
  font-family: "Pompiere", Roboto, "Helvetica Neue", sans-serif;
  color: #ffffff;
}
